

.box1{
    background-color: red ;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    

}
.box2{
    background-color: blue;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    
    
}
.box3{
    background-color:rosybrown;
    
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    
}
.xp{
    border-width: 20px;
    border-style: solid;
    

}
.gg{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 15px solid black;
    box-sizing: border-box;
}


